@import url('../fonts/index.css');

html, body {
    background-color: rgb(25 25 25);
    user-select: none;
    padding: 0px;
    margin: 0px;
}

canvas {
    transform: translate(-50%, -50%);
    image-rendering:pixelated;
    position: absolute;
    cursor: none;
    left: 50%;
    top: 50%;
}