/* header */

nav div#about {
    right: 280px;
}

nav div#about.active,
nav div#about:hover {
    background-color: rgb(207, 74, 74);
}

/* article */

article#about {
    height: 400px;
    width: 800px;
}

article#about h3 {
    background-color: rgb(207, 74, 74);
    left: 20px;
    top: -20px;
}

article#about div.box {
    text-align: left;
}

article#about button {
    background-color: rgb(207, 74, 74);
    border-color: rgb(147, 47, 47);
    left: 25%;
}