article {
    background-color: rgb(25, 25, 25);
    transform: translate(-50%);
    position: absolute;
    display: flex;
    left: 50%;
}

article div.box {
    box-sizing: border-box;
    padding: 40px;
    height: 400px;
    width: 400px;
    margin: 0px;
}

article img {
    -webkit-user-drag: none;
    user-select: none;
    height: 320px;
    width: 320px;
    top: 40px;
}

article h5 {
    margin: 0px 0px 10px 0px;
    font-family: 'bold';
    font-size: 18px;
    padding: 0px;
}

article p {
    margin: 0px 0px 10px 20px;
    font-size: 14px;
    padding: 0px;
}

article h3,
article button {
    background-color: rgb(55, 55, 55);
    font-family: 'bold';
    position: absolute;
    text-align: center;
    user-select: none;
    line-height: 40px;
    font-size: 22px;
    height: 40px;
    width: 200px;
    padding: 0px;
    margin: 0px;
}

article button {
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    border-bottom: 6px solid;
    box-sizing: content-box;
    border-radius: 25px;
    border-right: none;
    border-left: none;
    border-top: none;
    cursor: pointer;
    outline: none;
    bottom: 40px;
}

article button:active {
    border-bottom: none;
}