/* header */

nav div#projects {
    right: 140px;
}

nav div#projects.active,
nav div#projects:hover {
    background-color: rgb(74, 207, 74);
}

/* article */

article#projects {
    height: 400px;
    width: 800px;
    top: 470px;
}

article#projects h3 {
    background-color: rgb(74, 207, 74);
    right: 20px;
    top: -20px;
}

article#projects div.box {
    text-align: left;
}

article#projects button {
    background-color: rgb(74, 207, 74);
    border-color: rgb(27, 127, 27);
    left: 75%;
}