@import url('../fonts/index.css');
@import url('../main/header.css');
@import url('../main/footer.css');

@import url('../main/project.css');

html, body {
    background-color: var(--background-color);
    user-select: none;
    padding: 0px;
    margin: 0px;
}