article#about {
    top: 0px;
}

article#about h3 {
    background-color: rgb(207, 74, 74);
    left: 20px;
    top: -20px;
}

article#about div.l-box {
    text-align: left;
}

article#about button {
    background-color: rgb(207, 74, 74);
    border-color: rgb(147, 47, 47);
}

@media screen and (max-width: 850px) 
{
    article#about div.r-box {
        top: 50%;
    }
}