@keyframes float {
    0% { margin-top: 5px; }
    100% { margin-top: -5px; }
}

@keyframes fade {
    0% { opacity: 0.9; }
    25% { opacity: 0.6; }
    50% { opacity: 0.8; }
    75% { opacity: 0.4; }
    100% { opacity: 0.6; }
}

article#about div.box img {
    animation: float 1.5s alternate linear infinite, fade 5s alternate linear infinite;
}