article#extra {
    background-color: rgb(25, 25, 25);
    top: 940px;
}

article#extra h3 {
    background-color: rgb(74, 74, 207);
    transform: translateX(-50%);
    top: -20px;
    left: 50%;
}

article#extra h5 {
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0px;
    left: 50%;
    top: 50%;
}

@media screen and (max-width: 850px) 
{
    article#extra {
        height: 400px;
        top: 1740px;
    }
}

@media screen and (max-width: 425px) 
{
    article#extra {
        height: 350px;
        top: 1690px;
    }
}