footer {
    background-color: rgb(25, 25, 25);
    position: absolute;
    height: 100px;
    width: 100%;
    top: 1550px;
}

footer div.social-media {
    transform: translateY(-50%);
    position: absolute;
    user-select: none;
    right: 35px;
    top: 50%;
}

footer img {
    -webkit-user-drag: none;
    cursor: pointer;
    margin: 0px 6px;
    height: 42px;
    width: auto;
}

footer a {
    text-decoration: none;
}

footer h5 {
    transform: translateY(-50%);
    position: absolute;
    user-select: none;
    margin: 0px;
    left: 35px;
    top: 50%;
}

@media screen and (max-width: 850px) 
{
    footer {
        height: 120px;
        top: 2350px;
    }

    footer h5, footer div.social-media {
        transform: translateX(-50%);
        left: 50%;
    }

    footer div.social-media {
        width: 100%;
        top: 20px;
    }

    footer h5 {
        top: 80px;
    }
}

@media screen and (max-width: 425px) 
{
    footer {
        top: 2250px;
    }

    footer img {
        height: 38px;
    }
}