footer {
    background-color: rgb(25, 25, 25);
    position: absolute;
    height: 100px;
    width: 100%;
    top: 1550px;
}

footer .social-media {
    transform: translateY(-50%);
    position: absolute;
    user-select: none;
    right: 35px;
    top: 50%;
}

footer img {
    -webkit-user-drag: none;
    cursor: pointer;
    margin: 0px 6px;
    height: 42px;
    width: auto;
}

footer a {
    text-decoration: none;
}

footer h5 {
    transform: translateY(-50%);
    position: absolute;
    user-select: none;
    margin: 0px;
    left: 35px;
    top: 50%;
}