footer {
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 10px;
    margin: 0px auto;
    display: flex;
}

#social-media {
    justify-content: space-between;
    height: var(--input-height);
    display: inline-flex;
    flex-wrap: wrap;
}

#social-media a {
    width: var(--input-height);
    border-radius: 10px;
    position: relative;
    border: none;
}

#social-media img {
    transform: translate(-50%, -50%);
    position: absolute;
    height: 20px;
    width: auto;
    left: 50%;
    top: 50%;
}

/* #region media queries */

/* 1 column */
@media screen and (max-width: 379px) {
    footer { width: 180px; flex-wrap: wrap; }

    #social-media { width: 160px; margin-bottom: calc(20px + var(--input-height) + 20px); }
    #social-media a:nth-child(-n+3) { margin-bottom: 20px; }
    #social-media a:nth-child(1) { margin-right: 26px; }
    #social-media a:nth-child(3) { margin-left: 26px; }
    footer > a[role=link] { width: 160px; }
}

/* 2 column */
@media screen and (min-width: 380px) and (max-width: 559px) {
    footer { width: 360px; flex-wrap: wrap; }
    
    #social-media { width: 340px; margin-bottom: 20px; }
    footer > a[role=link] { width: 340px; }
}

/* 3 column */
@media screen and (min-width: 560px) and (max-width: 739px) {
    footer { width: 540px; }

    #social-media { width: 340px; }
    footer > a[role=link] { width: 160px; margin-left: auto; }
}

/* 4 column */
@media screen and (min-width: 740px) {
    footer { width: 720px; }

    #social-media { width: 340px; }
    footer > a[role=link] { width: 160px; margin-left: auto; }
}

/* #endregion media queries */