header {
    justify-content: center;
    padding: 20px 0px;
    flex-wrap: wrap;
    display: flex;
}

header > img {
    height: 60px;
    width: auto;
}

header > h1 {
    margin: 0px 0px 0px 20px;
    line-height: 60px;
}