header {
    background-color: rgb(25, 25, 25);
    font-family: 'bold';
    user-select: none;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 10;
}

header img {
    -webkit-user-drag: none;
    margin: 10px 0px;
    height: 50px;
    width: auto;
}

header h1 {
    padding: 0px;
    line-height: 70px;
    margin: 0px 12px 0px 0px;
}

header div.container {
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    left: 50%;
}