@import url('../fonts/index.css');
@import url('./header.css');
@import url('./footer.css');

@import url('./project.css');

html, body {
    background-color: var(--background-color);
    user-select: none;
    padding: 0px;
    margin: 0px;
}