/* #region grid */

#project-grid {
    justify-content: left;
    overflow-y: hidden;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
    height: 360px;
}

#project-grid a {
    border: solid 10px transparent;
    text-decoration: none;
    border-radius: 27%;
    display: block;
    outline: none;
    height: 160px;
    width: 160px;
}  

#project-grid a:hover,
#project-grid a:focus {
    border-color: rgb(35 35 35);
}

#project-grid a img {
    border-radius: 25%;
    height: 100%;
    width: 100%;
}

/* #endregion grid */
/* #region headers */

#project-header {
    box-sizing: border-box;
    padding: 20px 10px;
    margin: 0px auto;
    display: flex;
    height: 74px;
}

/* #endregion headers */
/* #region media queries */

/* 1 column */
@media screen and (max-width: 360px) {
    #project-header a[role=link] { width: 130px; position: absolute; transform: translateY(calc(100% + 400px)); }
    #project-header input[type=text] { width: 130px; }
    #project-grid, #project-header { width: 180px; } 
}

/* 2 column */
@media screen and (min-width: 360px ) and (max-width: 539px) {
    #project-header a[role=link] { width: 310px; position: absolute; transform: translateY(calc(100% + 400px)); }
    #project-header input[type=text] { width: 310px; }
    #project-grid, #project-header { width: 360px; }
}

/* 3 column */
@media screen and (min-width: 540px) {
    #project-header a[role=link] { width: 130px; margin-left: auto; }
    #project-header input[type=text] { width: 310px; }
    #project-grid, #project-header { width: 540px; }
}

/* 4 column */
@media screen and (min-width: 720px) { 
    #project-grid, #project-header { width: 720px; }
}

/* #endregion media queries */