article#projects {
    top: 470px;
}

article#projects h3 {
    background-color: rgb(74, 207, 74);
    right: 20px;
    top: -20px;
}

article#projects div.r-box {
    text-align: left;
}

article#projects button {
    background-color: rgb(74, 207, 74);
    border-color: rgb(47, 147, 47);
}

@media screen and (max-width: 850px) 
{
    article#projects {
        top: 870px;
    }

    article#projects div.l-box {
        top: 50%;
    }
}