@font-face {
    font-family: 'regular';
    src: url('./roboto-light.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./roboto-bold.ttf');
}

@font-face {
    font-family: 'italic';
    src: url('./roboto-light-italic.ttf');
}

@font-face {
    font-family: 'bold-italic';
    src: url('./roboto-bold-italic.ttf');
}

html, body, a {
    color: rgb(255 255 255);
    font-family: 'regular';
    font-size: 12px;
}

b {
    font-family: 'bold';
}

i {
    font-family: 'italic';
}

b i, i b {
    font-family: 'bold-italic';
}