/* #region font-face */

@font-face {
    font-family: 'regular';
    src: url('./ubuntu-mono-regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./ubuntu-mono-bold.ttf');
}

@font-face {
    font-family: 'italic';
    src: url('./ubuntu-mono-italic.ttf');
}

@font-face {
    font-family: 'bold-italic';
    src: url('./ubuntu-mono-bold-italic.ttf');
}

/* #endregion font-face */

:root {
    --input-height: 36px;

    --background-color: rgb(25 25 25);

    --input-color: rgb(47 47 47);
    --input-highlight-color: rgb(57 57 57);

    --project-highlight-color: rgb(37 37 37);
}

html, body, input, a {
    color: rgb(255, 255, 255);
    font-family: 'regular';
}

b i, i b { font-family: 'bold-italic'; }

b { font-family: 'bold'; }

i { font-family: 'italic'; }

h1 { font-size: 40px; }

p, a { font-size: 14px; }

input { font-size: 16px; }

a[role=link] {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

input[type=text], 
a[role=link] {
    background-color: var(--input-color);
    line-height: var(--input-height);
    height: var(--input-height);
    border-radius: 10px;
    outline: none;
    border: none;
}

input[type=text] {
    padding: 0px 15px;
}

input[type=text]:hover,
input[type=text]:focus,
a[role=link]:hover,
a[role=link]:focus {
    filter: invert();
}