@font-face {
    font-family: 'regular';
    src: url('./ubuntu-mono-regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./ubuntu-mono-bold.ttf');
}

@font-face {
    font-family: 'italic';
    src: url('./ubuntu-mono-italic.ttf');
}

@font-face {
    font-family: 'bold-italic';
    src: url('./ubuntu-mono-bold-italic.ttf');
}

html, a {
    color: rgb(255, 255, 255);
    font-family: 'regular';
}

b {
    font-family: 'bold';
}

i {
    font-family: 'italic';
}

b i, i b {
    font-family: 'bold-italic';
}

p {
    font-size: 14px;
}

h1 {
    font-size: 40px;
}

h3, button {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}