/* #region font-face */

@font-face {
    font-family: 'regular';
    src: url('./ubuntu-mono-regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./ubuntu-mono-bold.ttf');
}

@font-face {
    font-family: 'italic';
    src: url('./ubuntu-mono-italic.ttf');
}

@font-face {
    font-family: 'bold-italic';
    src: url('./ubuntu-mono-bold-italic.ttf');
}

/* #endregion font-face */

html, body, input, a {
    color: rgb(255, 255, 255);
    font-family: 'regular';
}

b {
    font-family: 'bold';
}

i {
    font-family: 'italic';
}

b i, i b {
    font-family: 'bold-italic';
}

h1 {
    font-size: 40px;
}

p, a {
    font-size: 14px;
}

input {
    font-size: 16px;
}

a[role=link] {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

input[type=text], 
a[role=link] {
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
    height: 14px;
}

input[type=text]:hover,
input[type=text]:focus,
a[role=link]:hover,
a[role=link]:focus {
    background-color: rgb(57, 57, 57);
}